@model IEnumerable< PresentationLayer.Models.ProjectModel>
@{
    ViewBag.Title = "Все проекты";
}
<a asp-action="Create">Добавить проект</a>
<table class="table">
    <tr><td>Название</td><td>Сокращенное название</td><td>Описание</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.ShortName</td><td>@item.Description</td></tr>
    }
</table>
